
name: Celery Image Builder

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron:  '4 0 * * WED'

jobs:
  Celery-Builder:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_versions: ["3.10", "3.11", "3.12", "3.13", "3.14"] 
        package_versions: ["5.4.0", "5.5.0", "5.5.1", "5.5.2", "5.5.3"]
        target_base: ["full", "slim", "alpine"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: "Create and push"
        uses: multi-py/action-python-image-builder@v1
        timeout-minutes: 90
        with:
          package: "celery[gevent]"
          package_latest_version: "5.5.3"
          maintainer: "Robert Hafner <tedivm@tedivm.com>"
          python_version: ${{ matrix.python_versions }}
          target_base: ${{ matrix.target_base }}
          package_version: ${{ matrix.package_versions }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: "${{ github.workspace }}/dockerfile"
          docker_build_path: "${{ github.workspace }}/"

